.image {
    width: 20px;
    height: 20px;
}

.view-trip-container {
    margin: 0 auto;
    width: 30%;
    height: 30%;
}

.title-rank {
    font-size: 30px;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
}

.rank {
    margin-left: 150px;
    margin-top: 20px;
}

.rank-container {
    margin: auto auto;
    width: 50%;
    height: 50%;
}

.comment-form{
    margin: 20px auto;
    width: 30%;
    height: 50%;
}
