.image {
    width: 20px;
    height: 20px;
}

.view-trip-container {
    margin: 0 auto;
    width: 30%;
    height: 30%;

}

.title-rank {
    font-size: 30px;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
}

.rank {
    padding: 10px;
    margin: 30px;
}
