.form-container {
    margin: 0 auto;
    width: 30%;
    height: 20%;
}

.red-icon, .clr-subtext {
    color: darkred;
}

.green-icon {
    color: green;
}

.submit-button {
    margin: 30px auto;
    width: 40%;
    height: 20%;
}

.sign-in-title {
    margin: 100px auto 30px auto;
    width: 100%;
    height: 20%;
    border-bottom: 1px solid grey;
}

#title {
    margin: 30px auto;
    width: 30%;
    height: 20%;
    font-size: xx-large;
}
