.form-container{
    /*background-color: rgba(0,0,0,.1);*/
    padding: 120px;
    width: 30%;
    height: 20%;
}

.red-icon, .clr-subtext{
    color: darkred;
}

.green-icon{
    color: green;
}

.submit-button{
    padding: 50px 120px;
}
