<div class="form-container">
    <form class="clr-form clr-form-horizontal">
        <div class="clr-form-control">
            <label for="email" class="clr-control-label">Username</label>
            <div class="clr-control-container">
                <div class="clr-input-wrapper">
                    <input type="text" id="email" placeholder="example@gmail.com"
                           class="clr-input">
                    <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                </div>
            </div>
        </div>

        <div class="clr-form-control">
            <label for="password" class="clr-control-label">Password</label>
            <div class="clr-control-container">
                <div class="clr-input-wrapper">
                    <input type="text" id="password" placeholder="******"
                           class="clr-input">
                    <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                </div>
            </div>
        </div>

        <div class="clr-form-control">
            <label for="password" class="clr-control-label">again</label>
            <div class="clr-control-container">
                <div class="clr-input-wrapper">
                    <input type="text" id="password2" placeholder="******"
                           class="clr-input">
                    <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                </div>
            </div>
        </div>

        <div class="clr-form-control">
            <label for="password" class="clr-control-label">name</label>
            <div class="clr-control-container">
                <div class="clr-input-wrapper">
                    <input type="text" id="name" placeholder="name"
                           class="clr-input">
                    <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                </div>
            </div>
        </div>

        <div class="clr-form-control">
            <label for="password" class="clr-control-label">last name</label>
            <div class="clr-control-container">
                <div class="clr-input-wrapper">
                    <input type="text" id="lastname" placeholder="last name"
                           class="clr-input">
                    <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                </div>
            </div>
        </div>

    </form>
</div>
