/* You can add global styles to this file, and also import other style files */
@import "~leaflet/dist/leaflet.css";
.green-snackbar {    
    position: absolute !important;
    background: lightgreen;
  }

.red-snackbar {    
    position: absolute !important;
    background: red;
}