.car-1 {
    margin-top: 140px;
    margin-left: 20px;
    width: 10%;
    height: 10%;
    color: dodgerblue;
    display: inline-block;

}


.home-title {
    text-align: center;
    font-size: 40px;
    padding: 30px;
}

.building {
    display: inline-block;
    width: 30%;
    height: 30%;
    float: right;
}

.way {
    border-bottom: 3px solid grey;
}

