.trip {
    border: 2px solid dodgerblue;
}

.join-trip-container {
    padding: 10px;
    margin: 10px;
}

.search-container {
    margin: 0 auto;
    width: 50%;
    height: 20%;
}

.join-submit-btn {
    margin: 150px auto 0 auto;
    width: 5%;
    height: 5%;
}

.map-container {
    position: absolute;
    top: 10%;
    left: 40%;
    /* bottom: 0; */
    height: 50%;
    width: 50%;
}

.map-frame {
    border: 2px solid black;
    height: 100%;
}

#map {
    height: 100%;
}

.map-container{
    margin-top: 160px;
    margin-left: -270px;
}

.join-title {
    margin: 30px auto 30px auto;
    width: 95%;
    height: 20%;
    border-bottom: 1px solid grey;
}

#title {
    margin: 40px 220px 0 auto;
    width: 30%;
    height: 20%;
    font-size: xx-large;
}
