.trip {
    border: 2px solid dodgerblue;
}

.join-trip-container {
    padding: 10px;
    margin: 10px;
}

.join-title {
    font-size: xx-large;
    margin: 30px auto;
    width: 15%;
    height: 5%;
    border-bottom: 1px solid grey;
}

.search-container {
    margin-left: 25px;
    width: 50%;
    height: 20%;
}

.join-submit-btn {
    margin-left: 25px;
}

.map-container {
    position: absolute;
    top: 10%;
    left: 40%;
    /* bottom: 0; */
    height: 50%;
    width: 50%;
}

.map-frame {
    border: 2px solid black;
    height: 100%;
}

#map {
    height: 100%;
}