.trip {
    border: 2px solid dodgerblue;
}

.join-trip-container {
    padding: 10px;
    margin: 10px;
}

.join-title {
    font-size: xx-large;
    margin: 30px auto;
    width: 15%;
    height: 5%;
    border-bottom: 1px solid grey;
}

.search-container {
    margin-left: 25px;
}

.join-submit-btn {
    margin-left: 25px;
}
