<div class="join-title">Join trip</div>

<form clrForm class="search-container">
    <clr-input-container>
        <label for="startCity">Start city
            <input clrInput placeholder="start city" name="startCity" id="startCity"
                   [(ngModel)]="selectedStartCity">
        </label>
    </clr-input-container>
    <clr-input-container>
        <label for="endCity">End city
            <input clrInput placeholder="end city" id="endCity" name="endCity">
        </label>
    </clr-input-container>
</form>

<button class="btn join-submit-btn" (click)="onSearch()">Search</button>

<div class="clr-row join-trip-container">
    <div *ngFor="let trip of trips" class="clr-col-lg-4 clr-col-sm-6 clr-col-12">
        <div class="card trip">
            <div class="card-header">
                Name: {{trip.name}}
            </div>
            <div class="card-block">
                <div>From: {{trip.fromCity}}</div>
                <div>To: {{trip.toCity}}</div>
                <div>Price: {{trip.price}}$</div>
                <div>Free places: {{trip.capacity}}</div>
                <div>Driver: {{trip.driver.name}}</div>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary">JOIN</a>
                <a class="btn btn-primary" (click)="navigateToViewProfilePage(trip.driver)">VIEW
                    PROFILE</a>
            </div>
        </div>
    </div>
</div>
