.map-container {
    position: absolute;
    top: 20%;
    left: 40%;
    /* bottom: 0; */
    height: 50%;
    width: 50%;
}

.map-frame {
    border: 2px solid black;
    height: 100%;
}

#map {
    height: 100%;
}

.form-container {
    margin: 0 auto;
    width: 70%;
    height: 100%;
}

.leaflet-routing-container {
    display: none;
}

#butonaNaIstinata {
    margin: 0 auto;
}

.create-title{
    margin: 30px auto 30px auto;
    width: 30%;
    height: 20%;
    border-bottom: 1px solid grey;
}

#title {
    margin: 40px 120px 0 auto;
    width: 40%;
    height: 20%;
    font-size: xx-large;
}

.create-ride-submit-btn{
    margin-left: 160px;
    margin-top: 50px;
}
